.logodiv {
   margin-left: 40px;
   
}
/* 
.imglog {
    position: absolute;
    width: 134px;
    height: 134px;
   
}
.inline
{
    position: absolute;
    top: 40px;
    display: inline-block; 
} */